/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 12px; }

body {
  font-family: 'Lato', sans-serif;
  margin: 1em auto;
  padding: 0 1em;
  background-color: #f6f6f6; }

h1, h2 {
  font-family: 'Aleo', serif;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em; }

h2 {
  font-size: 1em; }

section {
  background-color: white;
  margin: 1em 0;
  padding: 1em 1em 1.5em 1em;
  border-top: 0.3rem solid #e67e22; }

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1em; }

th, td {
  padding: 0.4em 0; }

th {
  border-bottom: 1px solid black;
  font-weight: 700; }

td {
  border-bottom: 1px solid #ddd; }

tr:last-child td {
  border-bottom: none; }

.scdl-logo {
  width: 3rem;
  display: block;
  margin: 0.5rem auto; }

.scdl-logo__text {
  font-family: 'Aleo';
  font-size: 1.6rem;
  font-weight: 700; }

.banner {
  display: block;
  margin: 1.5rem 0;
  text-align: center;
  -webkit-transform: scale(1) skewY(-3deg);
          transform: scale(1) skewY(-3deg);
  overflow: visible; }

.banner__main {
  display: inline-block;
  position: relative;
  height: 28px;
  background-color: #444;
  color: white;
  line-height: 27px;
  padding: 0 0.5em;
  vertical-align: top;
  z-index: 1; }

.ribbon-left, .ribbon-right {
  height: 28px;
  display: inline;
  position: relative; }

.ribbon-left {
  left: 14px;
  top: -6px; }

.ribbon-right {
  left: -14px;
  top: 6px; }

.cap-info__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  width: 80%; }

.cap-info__item {
  -webkit-box-flex: 0;
          flex: 0 0 30%;
  text-align: center;
  text-transform: uppercase; }

.cap-info__label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.4em; }

.roster--num {
  text-align: center;
  width: 3em; }

.roster--name {
  text-align: left;
  padding-left: 1em; }

.roster--cost {
  text-align: right;
  width: 2em;
  padding-right: 1em; }

.roster--year {
  width: 2em;
  text-align: right;
  padding-right: 1em; }

.theme-joe .banner__main {
  background-color: #e67e22; }

.theme-joe .ribbon--light {
  fill: #3498db; }

.theme-joe .ribbon--dark {
  fill: #1f76a5; }
