html {
  font-size: 12px;
}

body {
  font-family: 'Lato', sans-serif;
  // max-width: 400px;
  margin: 1em auto;
  padding: 0 1em;
  background-color: rgb(246, 246, 246);
}

h1, h2 {
  font-family: 'Aleo', serif;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1em;
}

section {
  background-color: white;
  margin: 1em 0;
  padding: 1em 1em 1.5em 1em;
  border-top: 0.3rem solid $joe-color-1;
}

table {
  // background-color: crimson;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1em;
}

th, td {
  padding: 0.4em 0;
}

th {
  border-bottom: 1px solid black;
  font-weight: 700;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none;
}
