@charset "utf-8";

// Team Colours
$joe-color-1: rgb(230, 126, 34);
$joe-color-2: rgb(52, 152, 219);
$joe-color-3: rgb(31, 118, 165);

$jam-color-1: rgb(41, 128, 185);
$jam-color-2: rgb(192, 57, 43);
$jam-color-3: rgb(189, 195, 199);

$ric-color-1: rgb(111, 77, 75);
$ric-color-2: rgb(230, 126, 34);
$ric-color-3: rgb(191, 74, 0);

$wil-color-1: rgb(212, 57, 43);
$wil-color-2: rgb(241, 196, 15);
$wil-color-3: rgb(243, 156, 18);

$luk-color-1: rgb(50, 50, 50);
$luk-color-2: rgb(20, 20, 20);
$luk-color-3: rgb(189, 195, 199);

$dom-color-1: rgb(23, 126, 64);
$dom-color-2: rgb(241, 196, 15);
$dom-color-3: rgb(243, 156, 18);

$ale-color-1: rgb(20, 142, 150);
$ale-color-2: rgb(243, 156, 18);
$ale-color-3: rgb(220, 116, 34);

$ada-color-1: rgb(52, 73, 94);
$ada-color-2: rgb(44, 62, 80);
$ada-color-3: rgb(46, 204, 113);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "base",
  "modules",
  "theme"
;
